contourpy==1.3.3
cycler==0.12.1
fonttools==4.60.1
ids-peak==1.11.1.0.5
ids-peak-afl==1.7.0.0.2
ids-peak-ipl==1.16.1.0.4
kiwisolver==1.4.9
matplotlib==3.10.7
numpy==2.3.5
opencv-python==4.13.0.92
packaging==25.0
pandas==3.0.1
patsy==1.0.2
pillow==12.0.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
scipy==1.17.1
six==1.17.0
statsmodels==0.14.6
